div#main-header{
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: "basic-menu user"; 
}

div#basic-menu{
    display: grid;
    grid-area: basic-menu;
    grid-template-columns: 1fr 5fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
}

form#search-form{
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr;
    justify-self: stretch;
    justify-items: stretch;
}

input[type="text"]#search-text{
    font-size: large;
}

div#user{
    display: grid;
    grid-area: user;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
}